{% extends 'base_test.html' %}
{% block title %} Note Input {% endblock %}
{% block body %}
<h3 class="h3"> Silakan masukkan data yang diperlukan: </h3>
<h8 class="h8"> Jangan lupa klik 'Sip!' untuk input data </h8>
<br>
<h8 class="h8"> Semua kotak wajib diisi </h8>
<br>
<br>

<form action="" method="POST">
  {% csrf_token %}
  <div class="container">
    {{ form.as_p }}
  </div>
  <div class = "col-sm-offset-2 col-sm-10">
    <button type="submit" class="btn btn-success"> Sip! </button>
  </div>
</form>

{% endblock %}














<!-- 
            {{ form.non_field_errors }}
            <div class="fieldWrapper">
                {{ form.name.errors }}
                <label for="{{ form.name.id_for_label }}">Nama:</label>
                {{ form.name }}
            </div>
            <div class="fieldWrapper">
                {{ form.npm.errors }}
                <label for="{{ form.npm.id_for_label }}">NPM:</label>
                {{ form.npm }}
            </div>
            <div class="fieldWrapper">
                {{ form.birth_date.errors }}
                <label for="{{ form.birth_date.id_for_label }}">Tanggal lahir:</label>
                {{ form.birth_date }}
            </div> -->