{% extends 'base_test.html' %}
{% block title %} Note Card {% endblock %}
{% block body %}
<h3> Daftar Note: </h3>


{% for note in notes %}
<div class="card">
    <!-- <img src="img_avatar.png" alt="Avatar" style="width:100%"> -->
    <div class="container">
      <h10>Note ke- </h10>
      {{ forloop.counter }}<br>
      <br>
      <h7><b>Untuk : {{ note.To }}</b></h7><br>
      <h7><b>Dari : {{ note.From }}</b></h7><br>
      <h7><b>Judul : {{ note.Title }}</b></h7><br>
      <p>Pesan : {{ note.Message }}</p>
    </div>
  </div>


{% endfor %}
{% endblock %}



