{% extends 'base_test.html' %}
{% block title %} Note Table {% endblock %}
{% block body %}
<h3 class="h3"> Berikut adalah riwayat pembuatan Note: </h3>

<table>
  <tr>
    <th>To </th>
    <th>From</th>
    <th>Title</th>
    <th>Message</th>
  </tr>

  {% for note in notes %}
  <tr>
    <td>  {{ note.To }}   </td>
    <td> {{ note.From }}    </td>
    <td> {{ note.Title }}    </td>
    <td> {{ note.Message }}    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}

