{% extends 'anotherBase.html' %}
{% block title %} Note Table {% endblock %}
{% block body %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Note</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type= "text/css" href="css/tombol.css" />
  </head>
  <body>
    <table>
      <tr>
        <th>To </th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
        <th>Action</th>
      </tr>

      {% for note in notes %}
      <tr>
        <td>  {{ note.To }}   </td>
        <td> {{ note.From }}    </td>
        <td> {{ note.Title }}    </td>
        <td> {{ note.Message }}    </td>
        <td> 
            <script src="/js/button.js"> </script>
            {% include 'button1.html' %}
        </td>


      </tr>
      {% endfor %}
    </table>
    {% endblock %}
  </body>
</html>