<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table>
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>

      {% for x in friends %}
      <tr>
        <td> {{ x.name }} </td>
        <td> {{ x.npm }} </td>
        <td> {{ x.birth_date }} </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>