<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Form</title>
  </head>

  <body>
        
        <form action="" method="POST">
            {% csrf_token %}

            {{ form }}
<!-- 
            {{ form.non_field_errors }}
            <div class="fieldWrapper">
                {{ form.name.errors }}
                <label for="{{ form.name.id_for_label }}">Nama:</label>
                {{ form.name }}
            </div>
            <div class="fieldWrapper">
                {{ form.npm.errors }}
                <label for="{{ form.npm.id_for_label }}">NPM:</label>
                {{ form.npm }}
            </div>
            <div class="fieldWrapper">
                {{ form.birth_date.errors }}
                <label for="{{ form.birth_date.id_for_label }}">Tanggal lahir:</label>
                {{ form.birth_date }}
            </div> -->

            <input type="submit" value="Sip, Oke!">
        </form>

  </body>
</html>