/* #main{
    background-color: aquamarine;
    color: blue;
    font-family:'Franklin Gothic Medium';
    font-size: 0.8em;
} */

.h3{
    color: black;
    font-family: "Monospace";
    font-style: italic;  
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }


